# Python
GDAL==3.8.3
pyproj 
rasterio 
xarray 
cdsapi
nb_conda_kernels

# R
r-raster
r-shapefiles
r-ncdf4
r-terra
r-rworldmap
r-spatstat.geom
r-ggmap
r-rgee
r-leaflet
r-dismo
r-circlize
r-ggnewscale
r-lmerTest
r-lme4
r-metafor
r-pbapply
r-factominer
r-doparallel
r-ggpubr
r-broom
r-mlr3
r-rinside
r-dosnow
r-googlecloudstorager
r-circular
r-miceadds
r-multimode
r-sfsmisc
r-rjava
r-r.utils
r-reshape2
r-rworldxtra
r-rcurl
r-tidyverse
r-ranger
r-sodium
r-pals
r-ggcorrplot
r-aws.s3
r-agricolae
r-xlsx
r-maps
r-dplyr
r-dssat
r-gdalutilities
r-hmisc